@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #1A3636;
    --color-secundario: #22d4dd;
    --color-terciario: #F6F6F6;
    --color-hover: #007bff;
    ;



    --font-Montserrat: "Montserrat", sans-serif;
    --font-Krona: "Krona One", sans-serif;
}


* {
    padding: 0;
    margin: 0;
}




body {
    background-color: var(--color-primario);
    color: var(--color-terciario);
    box-sizing: border-box;
}

.header {
    padding: 2% 0% 0% 8%;
}

.header__menu {
    display: flex;
    justify-content: left;
    gap: 3.4rem;
}

.header__menu__links {
    font-size: 1.5rem;
    color: var(--color-secundario);
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
    padding: 0.625rem 0.9375rem;
    font-family: var(--font-Montserrat);
    font-weight: 600;
}

.header__menu__links:hover {
    color: var(--color-hover);
}

.presentacion {
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 5% 10%;
    gap: 82px;

}
#logo__enyer {
    width: 30%;
    height: auto;
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
#img {
    height: 26px;
}

.presentacion__contenido__section2 {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.presentacion__contenido__titulo {
    font-size: 2.25rem;
    font-family: var(--font-Krona);
    font-weight: 400;
    font-style: normal;
    display: flex;
    gap: 1.3rem;
}

.Titulo-destacado {
    color: var(--color-secundario);
}

.presentacion__contenido__texto {
    font-size: 1.5rem;
    font-family: var(--font-Montserrat);

}

#presentacion__habilidades {
    display: flex;
    gap: 0%;
    font-size: 1rem;
    font-family: var(--font-Montserrat);
}

.presentacion__contacto {

    text-decoration: none;
    color: var(--color-secundario);
    font-size: 1.2rem;
    font-weight: 200;
    display: flex;
    align-items: flex-start;
    gap: 2%;


}


.presentacion__contenido__pdf {
    text-decoration: none;
    font-family: var(--font-Montserrat);
    color: var(--color-secundario);
}

.presentacion__contenido__pdf:hover {
    color: var(--color-hover);
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}


.presentacion__enlaces__subtitulo {

    font-family: var(--font-Krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces__link {
    background-color: var(--color-primario);
    width: 378px;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--font-Montserrat);
    text-decoration: none;
    color: var(--color-terciario);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    border: 2px, solid, var(--color-secundario);
    gap: 10px;



}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);
}


.footer {
    background-color: var(--color-secundario);
    padding: 24px;
    text-align: center;
    color: var(--color-primario);
    font-family: var(--font-Montserrat);
    font-size: 1.5rem;
    width: 400;
}

@media(max-width: 1200px) {

    .header {
        padding: 2% 0% 0% 0%;
    }

    .presentacion {
        flex-direction: column;
        padding: 2%;
    }

    .header__menu {
        gap: 0.8rem;
    }

    .header__menu__links {
        padding: 0.625rem 0rem; ;
    }

    .presentacion__contenido {

        width: auto;
    }
    .presentacion__contenido__titulo {
        flex-direction: column;
        font-size: 2rem;
        align-items: center;
    }

    .presentacion__contenido__section2 {
        width: auto;
    }


}
